.card-plan {
  border: 2px solid #ccc;
  padding: 1rem;
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  position: relative; 
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}

.card-plan.selected {
  border: 2px solid var(--color-primary);
  background-color: rgba(78,54,180,0.1);
}
